body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.currency-box {
  border: solid 1px gold;
  width: 300px;
  margin: 100px auto;
}

.inputs {
  display: flex;
  margin: 10px auto;
  text-align: center;
  border: 1px red solid;
  width: 290px;
  justify-content: space-evenly;
}

.input-box {
  width: 50px;
  text-align: left;
}
